body{
   background-color: #e5e5e5;
}
* {
    margin: 8px;
    padding: 10px 0;
    box-sizing: border-box;
    margin-top: 0;

}
 header{
     width: 90vw;
     height: 50vh;
     background-color: #c4c4c4;
     display: flex;

 }
 a {
     text-decoration: none;
     border-radius: 50px;
     text-align: center;
     margin-left: 50px;
     height: 10px;
     width: 50 px;
 }
 h1{
     color: #5969a5;
     margin-top: 40px;
     margin-bottom: 20px;
     margin-left: 50px;
     font-style: normal;
     font-family: Arial, Helvetica, sans-serif;
 }
 h6{
     color: #FC1E1E;
     margin-bottom: 10px;
     margin-left: 50px;
     margin-top: 40px;
     font-style: normal;
     font-family: Arial, Helvetica, sans-serif;
 }
 .image{
     margin-top: 0 px;
     margin-bottom: 0;
     margin-left: 300px;
     margin-right: 80px;
     font-size: small;
     height: 50vh;
     width: 50vh;
     border: 0;
     padding-top: 0 auto;
 }
 .header-content{
     margin-top: 200px;
     margin-right: 150px;
     width: 100px;
     margin-left: 60px;
     
 }
 img{
     margin-top: 0px;
     margin-left: 100px;
 }
 .ctn{
     padding: 8px 15px;
     background-color: #FC1E1E;
     color: white;
     font-size: smaller;

 }
 .navbar{
     display: flex;
     width: 100%;
     padding: 10px;
     justify-content: space-between;
     box-sizing: border-box;
     background-color: white;
     margin-bottom: 0 px 0 px;
     width: 90vw;
     height: 60px;
 }
ul{
    list-style: none;
}
.nav-links{
    display: flex;
    align-items: center;
    font-size: medium;
    color: black;
    padding-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-links li{
    margin: 0 30px;
}
@media only screen and (max-width:800px){
    .navbar{
        padding: ;
    }
    .logo{
        position: absolute;
        top: 10px;
        left: 10px;
    }

}
.para1{
    font-size: small;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 60px;
    width: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-style: normal;
}
.para2{
    font-size: small;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-right: 210px;
    width: 140px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-style: normal;
}
.title{
    display: flex;
    background-color: white;
    justify-content: space-between;
    font-weight: bolder;
    width: 90vw;
    padding: 0px 0 0 0;
    margin-top: 0px;
    box-sizing: border-box;
}
.logo{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-left: 10px;
    margin-top: 5px;
}
.navigation{
    box-sizing: border-box;
    background-color: #c4c4c4;
    width: 90vw;
    height: 25vw;
}
*{
    margin: 0;
    padding: 0;
}
h5{
    font-size: medium;
    text-align: center;
    color: black;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.text{
    font-size: medium;
    margin-left: 50px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.ctn1{
   color: black;
   background-color: white;
   position: absolute;
   margin-left: 400px;
   font-size: xx-large;
   font-weight: bold;
   margin-top: 0px;
   border-radius: 20 px;
   margin-right: 50px;
   
}
.icon{
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
}